html {
    background: url("./blue-background.jpg");
}

body {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex: 1;
}

.clock {
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 40rem;
    margin: 50px auto;
}

.clock-body {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 20px solid white;
    position: relative;
}

.hand {
    position: absolute;
    width: 48%;
    height: 0.5rem;
    background-color: beige;
    top: 50%;
    left: 2%;
    transform-origin: right;
}
